@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #cdb29b;

}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

input {
    border: none;
}

.div-principal {
    display: flex;
    justify-content: center;
}

.div-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.div-title {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}

.form-principal {
    display: flex;
    flex-direction: column;
    background-color:#eee0d3 ;
    box-shadow: 2px 2px 20px 1px rgba(235, 157, 68, 0.824);

}

.form-legend {
    display: flex;
    border-bottom: 1px solid #fff;
    margin: 10px 10px;
    padding: 10px;
}

.form-legend legend {
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.form-box{
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.form-input {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.form-input label {
    color: rgb(51, 62, 72);
    margin-left: 4px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;

}


.form-input input {
    color: rgb(12, 12, 12);
    margin: 4px 4px;
    font-size: 18px;
    padding: 10px 10px;
    font-weight: 100;
    outline: 0;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;

}

.form-input input:focus {
    background-color:#fff ;

}

.form-select {
    background-color: #fff;
     margin: 4px 8px;
    font-size: 18px;
    padding: 10px 10px;
    font-weight: 100;
    outline: 0;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;

}

.form-line {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 2px 4px;
    padding: 0 4px;
}

.checkbox-container label {
    font-size: 14px;
}

input[type="checkbox"] {
    margin: 10px 10px;
    font-size: 16px;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-inputw100 {
    width: 100%;
    margin: 10px 10px;
    font-family: 'Open Sans', sans-serif;
}

.noWidth {
    width: auto;
}

.width100 {
    width: 100%;
}

.form-horarios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: flex-start;


}

.form-horarios label,span,input {
    margin: 10px 10px;
}